$icon-font-path: "../fonts/";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";



.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// html, body {
//   background-image: url('/images/bg.jpg');
//   background-position: "center top";
//   background-size: cover;
// }

/* Space out content a bit */

html, body{
  background-color: #000;
}
body {
    // padding-top: 20px;
    // padding-bottom: 20px;
    display: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        // max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(/images/bg_darker_blur.jpg) no-repeat center top;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 30%;
    // padding-bottom: 30%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 7em;
    user-select: none;
    font-family: Helvetica Neue;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

$orange: #ed5909;

$button-sz: 100px;
$input-sz: 40px;

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}


#search-anim {
  margin-top: 100px;
  width: 1;
  margin-left: auto;
  margin-right: auto;
  .input-group-addon {
    color: #fff;
    background-color: $orange;
    font-size: 4rem;
    border: none;
    padding: 30px;
    border-radius: 100%;
    width: $button-sz!important;
    height: $button-sz!important;
    @include vertical-align();
    z-index: 2;
    cursor: pointer;
  }
  input {
    width: 0;
    border:none;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
    height: 40px;
    font-size: 18px;
    @include vertical-align();
    z-index: 1;
  }
}



.word::after {
  content: " "
}

.red {
  color: red;
}

.blue {
  color: blue;
}
span.word {
  background-color: transparent;
  transition-duration: 1s;
  color: white;
  cursor: pointer;
}

span.active1 {
  background: rgba(255, 0, 0, 1);
  transition-duration: 0.08s;
}

span.bg1 {
  background: rgba(255, 0, 0, 0.6);
  transition-duration: 0.08s;
}

span.active2 {
  background: rgba(0, 255, 0, 1);
  transition-duration: 0.08s;
}

span.bg2 {
  background: rgba(0, 255, 0, 0.6);
  transition-duration: 0.08s;
}

span.active0 {
  background: rgba(60, 60, 255, 1);
  transition-duration: 0.08s;
}

span.bg0 {
  background: rgba(60, 60, 255, 0.6);
  transition-duration: 0.08s;
}



.line {
  opacity: 0.6;
  transition-duration: 1s;
}

.activeline {
  opacity: 1;
  background: rgba(255, 0, 0, 0.3);
  transition-duration: 0.2s;
}

$dim: 600px;


#player {
  $ratio: 16 / 9;
  position: fixed;
  height: $dim;
  width: $dim * $ratio;
  top: 0;
  left:50%;
  margin-left: -$dim * $ratio / 2;
}

#lyrics {

  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  font-weight: 300;

  position: fixed;
  top: $dim + 100px;
  width: 100%;
  overflow: scroll;
  bottom: 100px;
  padding: 20px;

  box-shadow:         inset 0 0 20px #000000;


}
